* {box-sizing: border-box;
padding: 0;
margin: 0;
max-width: 100%;
font-family: Arial,Verdana,"Times New Roman",Courier,"Courier New",Georgia,lucida,tahoma,Monospace;}

.container {background-color: pink;
height: auto;
width: 100%;
padding: 50px 80px;}

.page { background-color: white;
height: auto;
max-width: 100%;
border-radius: 10px;
padding: 30px 0 0 0;}

.section { background-image: url('images/images.jpeg');
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
height: auto;
max-width: 100%;}

.header {padding: 30px 20px;
  margin: 0 0 50px 0;}

.hicon { float: left;
position: relative;
top: 0;
left: 0;}

.hicon img {width: 30px;
height: 25px;
transition-duration: transform;
  cursor: pointer;}
  
.hicon img:hover { transition: 0.3s ease;
transform: scale(1.5);}

.hlist ul{ float: right;}

.hlist ul li { 
float: left;
list-style-type: none;
padding-right: 10px;}

.hlist a {text-decoration: none;
  font-weight: bold;
  font-family: "Tahoma";
   color: white;}
.hlist a:hover {border: none;
border-left: 3px solid black;
padding: 5px;
outline: none;}

.hlist .signin { background-color: white;
color: black;
border-radius: 30px;
padding: 5px 20px;
margin-left: 20px;
font-weight: normal;}

.hlist .signin:hover {color: white;
background-color: black;
border-radius: 10px;
  font-weight: bold;
  outline: none;}

.fire {width: 60%;
margin: 70px 50px 100px 50px;}

.fire h1 {color: white;
font-size: 55px;
font-family: arial;
font-weight: bold;
padding-bottom: 30px;}

.fire .span {margin: 5px 0 0 30px;
color: honeydew;
  word-spacing: 2px;
  letter-spacing: -1px;}

.fire p {color: white;
font-family: Tahoma;
font-size: 20px;
  cursor: text;
}

.water a {
  text-decoration: none;
margin-left: 150px;
color: white;
box-shadow: 0 3px #9999;
background-color: tomato;
padding: 10px 35px;
border-radius:8px;}

.water a:hover {position: relative;
top: 5px;
cursor: pointer;
box-shadow: none;
  color: tomato;
background-color: white;
border:none;
padding: 7px 35px;
border-bottom: 3px solid tomato;
}

.cars {display: flex;
  padding:20px 10px 10px 15px;}
  
.car {display: flex;
  padding: 10px 10px 10px 15px;}
  
.cars .toyota h2, .car .lexus h2  {margin-bottom: 15px;
font-family: "Times New Roman";
  font-weight: bold;}

.cars .toyota p, .car .lexus p  {font-family: verdana;
  font-weight: normal;}

.ads a {text-decoration: none;
color: red;
font-weight: bold;
font-size: 18px;
  font-family: Monospace;}
  
.process h1 {text-align: center;
color: red;
margin: 10px 0;
font-family: Verdana;}

.process p { text-align: center;
font-size: 18px;
  padding: 0 5px;
}

.move-slider {
  padding: 30px 300px 30px 300px;
}
.sliders {
  opacity: 0.5;
  font-weight: bold;
  font-size: 12px;
}
.sliders:hover, .sliders:focus {
  opacity: 1;
  content: "";
  display: block;
  outline: none;
  clear: both;
}
.left-btn {
  cursor: pointer;
  float: left;
  display: none;
}
.right-btn {
  float: right;
  cursor: pointer;
}
.slides {
  margin: 5px 5px;
  text-align: center; 
}
li {
  list-style-type: none;
}
.example img {
height: auto;
width: 400px;
border-radius: 10px;
}
.example {
  display: none;
}
.active {
  display: block;
}
.number-slide {
 padding: 10px 300px;
 display: inline-block;
 text-align: center;
 justify-content: center;
}
.number-btn {
  float: left;
  font-weight: bold;
  font-size: 25px;
  color: dodgerblue;
  background-color: #42f5d4;
  padding: 5px 6px;
  border-radius: 4px;
  margin: 0 8px;
}
.number-btn:hover, .number-btn:focus{
  color: blue;
  background-color: #5cabd0;
}
/*css for modal one*/
  .modal {
    position: relative;
    z-index: 100;
    display: none;
  }
  .modal-style {
    position: absolute;
    width: 100%;
    height: auto;
    padding: 10px 20px;
    background-color: white;
  }
  .violence {
    display: block;
    background-color: green;
    color: white;
    text-align: center;
    width: 50%;
    border-radius: 10px;
    box-shadow: 2px 3px darkgreen;
    padding: 10px 5px;
    cursor: pointer;
    margin: 20px 0 20px 0;
  }
  
    .peace {
    display: block;
    text-align: center;
    background-color: red;
    width: 50%;
    color: white;
    border-radius: 10px;
    box-shadow: 2px 3px darkred;
    padding: 10px 5px;
  }
    /*CSS for modal starts*/
   .modal-one {
   position: relative;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   z-index: 100;
   display: none;
   }
.start { 
 position: absolute;
background-color: rgb(241, 103, 95);
padding: 25px 45px;
width: 700px;
height: auto;
}

.starting {
  background-color: white;
padding: 15px;
  border-radius: 15px;
}

.one {text-align: center;
  padding: 10px;
  position: relative;
}

 .close {
   cursor: pointer;
  float: right;
}
.one img { border-radius: 50%;
  width: 40%;
  height: auto;
}

.two .ip1 label {display: inline-block;
padding-top: 5px;
font-family: 'Times New Roman';
font-weight: bold;
font-size:20px;}

.two i {border: none;
border-bottom: 1px solid rgb(174 23 16);
width: 20px;
height: 25px;}

.ip1 input {width: 500px;
height: 35px;
border: none;
border-bottom: 1px solid rgb(174 23 16);
transition: 0.3s ease;
  padding: 10px;
  font-family: Monospace;
  margin-bottom: 10px;}
  
.ip1 input:focus {
  height: 30px;
color: black;
border: none;
border-bottom: 1px solid black;
transition: 0.2s ease;
  padding: 10px;
  font-family: lucida;
  outline:none;
}
  
 .ip2 label {display: inline-block;
padding-top: 5px;
font-family: 'Times New Roman';
font-weight: bold;
font-size:20px;}

.ip2 input {width: 500px;
height: 35px;
border: none;
border-bottom: 1px solid rgb(174 23 16);
transition: 0.3s ease;
  padding: 10px;
  font-family: Monospace;
  margin-bottom: 10px;}
  
.ip2 input:focus {
  height: 30px;
border-bottom: 1px solid black;
background-color: #999999;
color: white;
transition: 0.2s ease;
  padding: 10px;
  font-family: Georgia;
  outline: none;
}
  
  .bt { text-align: center;
    padding-bottom: 2px; 
    padding-top: 5px;
  }
  
  .bt input {width: 40%;
  height: 30px;
  border: none;
  border-radius: 8px;
    color: rgb(174 50 50);
    font-weight: bold;
    font-family: Verdana;
  }
  
   .bt input:hover {width: 50%;
  height: 30px;
  border: 1px solid black;
  border-radius: 10px;
    color: rgb(174 70 60);
    font-weight: bold;
    font-family: Verdana;
    outline: none;
  }

  .check span {font-family: courier; font-weight: bold;
    margin-left: 5px;
  }
  
  .check {padding-bottom: 10px;
    padding-left: 5px;}
    
  .top-wrapper-btn {
    float: right;
    padding: 25px 20px 0 0;
  }

    .stop button {border: 1px solid;
    border-radius: 10px;
    padding: 5px 10px;
      font-weight: bold;
    font-family: Verdana;
    color: #9998;
    }
      .stop button:hover {border: 1px solid black;
      position: relative;
    border-radius: 10px;
    padding: 5px 10px;
      font-weight: bold;
    font-family: Verdana;
    color: #9999;}
    
  .stop a{ color: blue;
    text-decoration: none;
    float: right;
  }
  
 .stop a:hover,visited { 
   color:pink;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: dotted;
 margin-left: 20px;
  }
  
  .account a { text-decoration: none;
  background-color:white;
    color: tomato;
    padding: 5px 20px;
    border-radius: 10px;}
    .account {margin:20px 30px 0 0;}
    
    .account a:hover {
      background-color:white;
    color: tomato;
    border: 2px solid rgb(194 50 16);
    outline: none;}
    /*css for modal stops*/

footer {border-radius: 3px;
background-color: black;
width: 100%;
padding: 15px 0;}
.media-icons {display: flex;
  text-align: center;
  justify-content: center;
  margin: auto;}

.media-icons a{
  text-decoration: none;
  position: relative;
  color: white;
  font-size: 25px;
  transition: 0.3s ease;
  transition-property: transform;}

.media-icons a:not(:last-child){
  margin-right: 60px;
}

.media-icons a:hover{
  transition: 0.9s ease;
  transform: scale(1.9);
}

footer ul {text-align: center;}
footer li {list-style-type: none;
padding: 0 15px;
display: inline-block;}

.down a {text-decoration: none;
  color: white;
  padding-top: 8px;
font-weight: bold;
font-size: 18px;
font-family: verdana;}
#check {display: none;}
label {display: none;}

@media screen and (max-width:900px) {.start {padding: 50px 100px;}
 .ip1 input {width: 400px;}
.ip1 input:focus {width: 400px;}
.ip2 input {width: 400px;}
.ip2 input:focus {width: 400px;}
 }
@media screen and (max-width:560px)
{
  .start { width: 400px;}
  label {display: block;
    position: relative;
  float: right;
cursor: pointer;
  color: white;
  font-size: 40px;}
  
  .header .hlist {display: none;}
  
  .header .fa-regular {display: none;}
  
    #check:checked ~ .header .hlist{
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: pink;
    display: inline;
    padding-top: 100px;
  }

  #check:checked ~  .header .headlist a{
    font-weight: 700;
    margin: 10px 100px;
    letter-spacing: 2px;
    position: fixed;
    display: inline;
  }

  #check:checked ~ .header label .fa-regular{
    z-index: 3;
    transition: 0.2s ease;
    position: fixed;
    display: block;}

  #check:checked ~ .header label .fa-bars{
    display: none;
  }
  
  .hicon img {width:40px;
    height: 30px;}
    
  .container {padding: 10px 10px;
  width: 100%;
  height: auto;}
 .page {
   padding: 20px 0 0 0;
    width: 100%;
    height: auto;}
 .move-slider {
  padding: 30px 45px 50px 45px;}
 .number-slide {
 padding: 10px 70px;}
 .number-btn {
   font-size: 19px;
   padding: 2px 4px;
   margin: 0 5px;
 }
 .fire {width: 95%;
      margin: 70px 5px 100px 5px;}
.fire h1 {font-size: 30px;}
.fire p{font-size: 13px;
     overflow-x: scroll;}
 .water a {margin-left: 15px;
       padding: 5px 25px;}
.cars,.car {display: inline-block;}
.toyota h2, .lexus h2 {margin: 0 0 5px 0;
font-size: 17px;}
.toyota p, .lexus p, .process p, .ads a {font-size: 10px;}
.process h1 {font-size: 20px;}
.down a {font-size: 15px;}
 .start {padding:20px;}
 .ip1 input {width: 200px;
 }
.ip1 input:focus {width: 200px;}
.ip2 input {width: 200px;}
.ip2 input:focus {width: 200px;}
}
  
